@import 'palette.less';

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Signika:400,700');

body {
  font-size: 16px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  label {
    color: @white;
    font-family: 'Signika', sans-serif;
  }
  input,
  textarea {
    color: @dark;
  }
  p,
  blockquote,
  small,
  em,
  figcaption {
    color: @light;
    font-family: 'Noto Serif', serif;
  }
  .tartan {
    background-image: url(../images/caledonia-modern-tartan.jpg);
    background-size: contain;
    width: 100%;
    height: 100px;
  }
  main {
    background: @dark;
    padding: 1.5rem 1rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      color: @light;
      font-size: 1rem;
      padding: .5rem 0 1rem;
    }
  }
  footer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    background: @dark;
    color: @white;
    padding: 2rem;

    .address {
      text-align: center;
    }
    a {
      color: @white;
      &:hover {
        color: @mid;
      }
    }
    .icon {
      margin: .75rem auto;
      img {
        max-width: 80px;
      }
    }
    .svg-inline--fa {
      display: inline-block;
      margin: 0.2rem 0.7rem;
      font-size: 2rem;
      &:hover {
        color: @mid;
        text-decoration: none;
      }
    }
  }
}