@import 'palette.less';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Signika:400,700');
body {
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  label,
  small {
    color: @black;
    font-family: 'Signika', sans-serif;
  }
  input,
  textarea {
    color: @dark;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
  }
  p,
  blockquote,
  em,
  figcaption {
    color: @dark;
    font-family: 'Noto Serif', serif;
  }
  figcaption {
    font-size: .8rem;
    line-height: 1.3;
    text-align: center;
  } // All the navigation markup...
  .hamburger-menu-wrapper {
    background: @dark;
    padding: 10px;
    display: inline-block;
  }
  .hamburger-menu {
    border: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 9999;
    cursor: pointer;
    background: transparent;
  }
  .hamburger-menu:focus {
    outline: none;
  }
  .hamburger-menu span {
    display: block;
    position: absolute;
    top: 17px;
    left: 5px;
    right: 5px;
    height: 2px;
    background: @bright;
  }
  .hamburger-menu span:before,
  .hamburger-menu span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @bright;
    content: "";
  }
  .hamburger-menu span:before {
    top: -7px;
  }
  .hamburger-menu span:after {
    bottom: -7px;
  }
  .hamburger-menu span:before,
  .hamburger-menu span:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .hamburger-menu span:before {
    transition-property: top, transform;
  }
  .hamburger-menu span::after {
    transition-property: bottom, transform;
  }
  .hamburger-menu.active span {
    background: none;
  }
  .hamburger-menu.active span:before {
    top: 0;
    transform: rotate(225deg);
  }
  .hamburger-menu.active span:after {
    bottom: 0;
    transform: rotate(135deg);
  }
  .hamburger-menu.active span:before,
  .hamburger-menu.active span:after {
    transition-delay: 0s, 0.3s;
  }
  .menu {
    background-color: @dark;
    position: relative;
    min-width: 220px;
    text-align: center;
  }
  .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }
  .menu-list a {
    color: @white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 25px 0;
    transition: all 0.5s ease;
  }
  .menu-list a:hover {
    color: @bright;
  }
  .menu-overlay {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1111;
  }
  
  // Header and hero image
  header.hero {
    background-image: url(../images/cascadia-landscape-700.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    .logo {
      height: 10rem;
      width: 10rem;
      padding: 2.5rem 0;
    }
    p {
      font-family: 'Signika', sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
  } // Main - for every page
  main {
    background-color: @light; // max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
    h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    h3 {
      font-size: 1.3rem;
      padding-bottom: 1rem;
      line-height: 1.2;
    }
    a.phone {
      color: @sky;
      font-size: 1.2rem;
      text-decoration: none;
    }
    .intro {
      padding-bottom: 1.5rem;
    }
    p {
      color: @dark;
      font-size: 1rem;
      line-height: 1.5;
      padding: .5rem 0 1rem;
    }
    button,
    .button {
      padding: 1rem 0; // transform: scale(1);
      transform: translate(0, 0);
      transition: all .5s ease-in-out;
      &:hover {
        // transform: scale(1.1);
        transform: translate(.5rem, 0);
        transition: all .5s ease-in-out;
      }
      a {
        background-color: @sky;
        border: 2px solid @blue;
        box-shadow: 2px 2px 5px @dark;
        border-radius: 1rem;
        color: @white;
        font-family: 'Signika', sans-serif;
        font-size: 1.3rem;
        padding: .5rem .8rem;
        text-decoration: none;
      }
    }
    .photo {
      font-size: .8rem;
      text-align: center;
      padding: 0 2rem;
    }
    figcaption {
      line-height: 1.3;
    }
    .main-photo {
      border: 3px solid @mid;
      border-radius: 1rem;
      max-width: 100%;
      margin: 2rem auto .3rem;
    } // Services
    .services {
      h3 {
        background-image: linear-gradient(to bottom, @sky, @blue);
        border-radius: 1rem;
        color: @light;
        padding: 1rem;
        margin: 0 1rem;
        text-align: center;
      }
      p {
        padding: 1rem 0 2rem;
      }
      .descriptions {
        p {
          padding: 1rem 1rem 2rem;
        }
        .photo {
          .main-photo {
            display: none;
          }
          figcaption {
            display: none;
          }
        }
      }
    } // Music
    .music {
      padding-bottom: 2rem;
    }
    .audio {
      background-image: linear-gradient(to bottom, @sky, @blue);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: -1rem;
      h3 {
        color: @white;
        padding: 1rem;
        text-align: center;
      }
      audio {
        margin: 0 auto 1rem;
      }
    } // Photos
    .photos {
      display: grid;
      grid-template-rows: auto;
      justify-items: center;
      grid-gap: 2rem;
      padding: 1rem;
      img {
        border-radius: 1rem;
        max-width: 100%;
      }
    } // Contact
    .contact {
      display: grid;
      .contact-info {
        h3 {
          padding-bottom: 1rem;
        }
        h4 {
          color: @blue;
          font-size: 1.3rem;
          padding-bottom: .5rem;
          text-align: center;
          text-decoration: none;
        }
      }
      .form-container {
        margin: 0 1rem;
      }
      .contact-form {
        input,
        textarea {
          margin: .3rem auto 1rem;
          padding: .2rem;
          width: calc(100% - 3rem);
        }
        button {
          background-color: @sky;
          border: 2px solid @blue;
          box-shadow: 2px 2px 5px @dark;
          border-radius: 1rem;
          color: @white;
          font-family: 'Signika', sans-serif;
          font-size: 1.3rem;
          padding: .5rem .8rem; // transform: scale(1);
          transition: all .5s ease-in-out;
          &:hover {
            transform: translate(3rem, 0); // transform: scale(1.1);
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  }
  aside {
    background-color: @light;
    .facebook-feed {
      display: none;
    }
  } // Footer
  footer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    background: @blue;
    background-image: url("../images/ZenBG-1.png"), url("../images/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
    color: @white;
    padding: 2rem;
    text-align: center;
    p {
      color: @white;
      font-family: 'Signika', san-serif;
      font-size: 1.2rem;
      line-height: 1.5;
    }
    small {
      color: @light;
      line-height: 2;
    }
    .address {
      padding-bottom: .75rem;
      a.phone {
        color: @white  !important;
        font-family: 'Signika', san-serif;
        font-size: 1.2rem;
        line-height: 1.8;
      }
    }
    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 0;
      a {
        color: @white;
        font-size: 2.5rem;
        &:hover {
          color: @mid;
        }
        .hide-title { display: none; }
      }
    }
    .copy {
      padding-bottom: .75rem;
      small {
        font-size: .8rem;
      }
    }
    .atd-credit {
      margin: 0 auto;
      .link-text {
        color: @mid;
        text-decoration: none;
      }
      a {
        .link-logo {
          display: none;
        }
      }
    }
    .svg-inline--fa {
      display: inline-block;
      margin: 0.2rem 0.7rem;
      font-size: 2rem;
      &:hover {
        color: @mid;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 500px) {
  body {
    // Header and hero image
    .hero {
      padding: 4rem 0;
    }
    main {
      // Home
      .wrapper {
        padding: 2rem;
        .photo {
          max-width: 70%;
          margin: 0 auto;
        }
      } // Services
      .services {
        padding: 2rem;
        p {
          padding: 1rem 0 3rem;
        }
        h3 {
          margin: 0 1rem;
        }
      } // Music
      .music {
        padding: 2rem;
      }
      .audio {
        h3:first-of-type {
          padding-top: 2rem;
        }
        audio:last-of-type {
          padding-bottom: 2rem;
        }
      }
      .music-photo {
        max-width: 70%;
        margin: 4rem auto .3rem;
      } // Photos
      .gallery {
        padding: 2rem 0;
        h1 {
          padding: 0 1rem 1rem;
        }
        .photos {
          grid-template-columns: repeat(2, 1fr);
        }
      } // Contact
      .contact-info {
        padding: 2rem;
      }
      .form-container {
        padding: 1rem;
      } // Success 
      .success,
      .four0four {
        padding: 2rem;
      }
    } // Footer
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "address social" "map map" "copy copy" "atd atd";
      .address {
        grid-area: address;
      }
      .g-map {
        grid-area: map;
        padding: .5rem 0 1rem;
      }
      .social {
        grid-area: social;
        align-items: center;
        justify-content: space-around;
        padding: 0;
      }
      .copy {
        grid-area: copy;
      }
      .atd-credit {
        grid-area: atd;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    // Navigation
    .hamburger-menu-wrapper {
      display: none;
    }
    .menu-list {
      background-color: @dark;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    } // Header and hero image
    header.hero {
      background-image: url('../images/cascadia-landscape.jpg');
      .logo {
        margin: 3.5rem 0 2.5rem;
      }
    }
    main {
      // Home
      .wrapper {
        display: grid;
        grid-template-columns: 66% 1fr;
        grid-template-areas: "intro intro" "text photo";
        .intro {
          grid-area: intro;
          padding: 0 1rem 1.5rem;
        }
        .text {
          grid-area: text;
          padding: 0 1rem;
        }
        .button {
          margin: 2rem 7rem 0 1rem;
        }
        .photo {
          grid-area: photo;
          max-width: 100%;
          padding: 0 1rem;
          .main-photo {
            margin: 0 auto;
          }
        }
      } // Services
      .services {
        .descriptions {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          grid-gap: 2rem;
          h3 {
            border-radius: 12px 12px 0 0;
            margin: 0;
          }
          .card {
            background-color: @white;
            border: 3px solid @mid;
            border-radius: 1rem;
          }
          .photo {
            padding: 0;
            .main-photo {
              display: block;
              margin: 0 auto .3rem;
            }
            figcaption {
              display: block;
            }
          }
        }
      } // Music
      .music-wrapper {
        display: grid;
        grid-template-columns: 1fr 40%;
        grid-template-rows: auto 1fr;
        grid-template-areas: "music audio" "image audio";
        grid-gap: 1rem;
      }
      .music {
        grid-area: music;
      }
      .audio {
        grid-area: audio;
        margin: -2rem -1rem;
      }
      .music-photo {
        grid-area: image;
        margin: 0 auto 0 2rem;
        .main-photo {
          margin: 0 auto .3rem;
        }
      } // Photos
      .gallery {
        padding: 2rem 1rem;
        .photos {
          grid-gap: 3rem;
        }
      } // Contact
      .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 475px;
        grid-template-areas: "info feed" "form feed";
        .contact-info {
          grid-area: info;
        }
        .form-container {
          grid-area: form;
        }
        .facebook-feed {
          grid-area: feed;
          display: flex;
          justify-content: center;
          padding: 2rem 0 3rem;
          margin: 0 auto;
        }
      } // Success and Error
      .success,
      .four0four {
        button {
          margin-top: 2rem;
        }
      }
    } // Footer
    .footer {
      grid-template-columns: 7rem auto 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "social address map" "social copy atd";
      align-items: center;
      .address {
        a.phone {
          text-decoration: none;
        }
      }
      .social {
        flex-direction: column;
        justify-content: space-around;
        a {
          padding-top: 1.2rem;
        }
        a:first-of-type {
          padding-top: 0;
        }
      }
      .atd-credit {
        grid-area: atd;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 325px;
        a:hover {
          color: @white;
        }
        a {
          .link-logo {
            display: inline-block;
            height: 2rem;
            width: auto;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  body {
    // Navigation
    .menu-list {
      justify-content: flex-end;
      a {
        padding-right: 2.5rem;
      }
    }
    header.hero {
      .logo {
        height: 13rem;
        width: 13rem;
        padding: 0;
      }
    }
    main {
      // Home
      .wrapper {
        grid-template-rows: auto auto;
        p {
          font-size: 1.2rem;
        }
        .button {
          margin: 2rem 0 0 1rem;
          max-width: 33%;
        }
      } // Services
      .services {
        h1 {
          padding: 0 4rem 1rem;
        }
        h2 {
          padding: 0 4rem 1rem;
        }
        p {
          padding: 1rem 4rem 3rem;
        }
        .descriptions {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 2rem;
          .photo {
            display: none;
          }
        }
      } // Photos
      .gallery {
        .photos {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    } // Footer
    .footer {
      grid-template-columns: 10rem auto 1fr;
    }
  } 
}

@media (min-width: 1200px) {
  body {
    .footer {
      grid-template-columns: 20rem 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "social address map" "atd copy map";
      justify-content: space-around;
      .social {
        flex-direction: row;
        a {
          padding-top: 0;
        }
      }
      .atd-credit {
        margin: 0 1rem;
      }
    }
  }
}