# Contact form
contact/**

# PHPMailer and contents
phpmailer/**

# Stashed files:js and style for float/lock nav bar
stashed-files/**

# API key for Google Maps in the footer
includes/footer.php

# Don't track .htaccess
.htaccess
